@model TeleTime.Models.WorkDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workers)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                @foreach (var item in Model.Workers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkDayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
