@model IEnumerable<TeleTime.Models.WorkDay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWork)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOfWork)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkDayID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkDayID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkDayID })
        </td>
    </tr>
}

</table>
